Source: osso-systemui-splashscreen-dev
Section: devel
Priority: extra
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0

Package: osso-systemui-splashscreen-dev
Architecture: all
Multi-arch: foreign
Depends: ${misc:Depends}
Description: System UI splashscreen plugin development headers
 Development headers for System UI splashscreen plugin.
