Source: osso-systemui-splashscreen
Section: devel
Priority: extra
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 10), pkg-config, libgtk2.0-dev, libgconf2-dev,
 libdbus-1-dev, libglib2.0-dev, osso-systemui-dev (>= 0.2.0.21), libx11-dev,
 osso-systemui-dbus-dev, libdsme0.2.0-dev, libdbus-glib-1-dev, libcanberra-dev
Standards-Version: 4.3.0

Package: osso-systemui-splashscreen
Architecture: any
Multi-arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-systemui
Description: System UI splashscreen plugin
 System UI splashscreen plugin.

Package: osso-systemui-splashscreen-dev
Architecture: all
Multi-arch: foreign
Depends: ${misc:Depends}
Description: System UI splashscreen plugin development headers
 Development headers for System UI splashscreen plugin.
